/* Ici, votre style sera écrit */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
}

body {
    color: #115557;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* HEADER */
header {
    background-color: #1D9396;
    padding: 3rem 0;
}

#logo {
    width: 30rem;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 2rem 0;
}

.menu li {
    font-size: 1.6rem;
    margin-left: 2em;
}

.menu select {
    background-color: #fff;
    border: 0;
    color: #115557;
    font-size: 1.6rem;
    width: 13rem;
}

.menu form input[type="submit"] {
    background-color: #fff;
    color: #115557;
    border: 0;
    font-size: 1.6rem;
}

.menu li a {
    color: #115557;
}

.recherche {
    display: flex;
}

.recherche input[type='text'] {
    background-color: #fff;
    border: 0;
    color: #115557;
    width: 10rem;
    font-size: 1.6rem;
}

.recherche input[type='image'] {
    width: 20px;
    height: 20px;
}


/* MAIN */
.categories div {
    margin-bottom: 5rem;
}

.titre {
    color: #115557;
    font-size: 3rem;
    text-transform: uppercase;
}

.hr-horizontal {
    width: 15rem;
    background-color: #115557;
    padding: 0.1rem;
    margin: 1rem 0 6rem 0;
}

#main {
    background-color: #fff ;
}

#main ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap : 5rem;
}

#main ul li {
    display: flex;
    justify-content: center;
}

.serie {
    position: relative;
    display: flex;
    justify-content: center;
    color: #fff;
    width: 225px;
    line-height: 3rem;
}

.serie-hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    border-radius: 2.5rem;
    height: 100%;
    color: #fff;
    max-width: 215px;
    width: 100%;
}

.serie-hover:hover {
    opacity: 1;
    transition: 0.3s all ease-in;
}

.affiche {
    border-radius: 2.5rem;
    height: 30rem;
}

.title {
    padding: 2rem;
    padding-bottom: 0;
}

.info-serie {
    display: flex;
    font-size: 1.6rem;
}

.info-serie-ecrit {
    padding: 0 30rem 0 2rem;
    line-height: 2rem;
}

.info-serie-ecrit p {
    margin-bottom: 1rem;
}

.resume {
    width: 50rem;
    margin: 0 2rem;
}

.hr-vertical {
    height: 30rem;
    width: 0.4rem;
    background-color: #115557;
}

.commentaire {
    background-color: #115557;
    border-radius: 2.5rem;
    color: #fff;
    padding: 2rem;
    line-height: 3rem;
}

.episodes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
    font-size: 1.6rem;
}

.episodes a {
    color: #115557;
}

.miniature {
    width: 22rem;
    border-radius: 2rem;
}

/* INCRIPTION */
#inscr{
    color:white;
    margin-left: 250px;
    padding-top: 1.8rem;
    width: 660px;
    margin-top: 2.0rem;
    font-size: 19px;
    font-weight: bold;
    border: #115557 solid 1rem;
    background-color: #115557;
    border-radius: 2.5rem;
}

#name, #email,#password,#password-confirm{
    margin-top: 3.6rem;
    padding-top: 2px;
    font-weight: bold;
    width: 320px;
    border: #1D9396 solid 1rem;
    background-color: #1D9396;
    border-radius: 2.5rem;
    color:white;
}

.form-group {
    text-align: center;
}

#inscription{
    margin: 3.6rem 0;
    background-color:#F6DF19;
    border: #F6DF19 solid 1rem;
    border-radius: 2.5rem;
    color: #1D9396;
    font-weight: bold;
    font-size: 10px;

}

.invalid-feedback {
    display: block;
}

#previousEp{
    position: absolute;
    top: 700px;

}

#nextEP{
    position: absolute;
    top: 700px;
    right: 50%;
}

#nextEP,#previousEp{
    margin: 3.6rem 0;
    background-color:#F6DF19;
    border: #F6DF19 solid 1rem;
    border-radius: 2.5rem;
    color: #1D9396;
    font-weight: bold;
    font-size: 10px;
}

#infoEpisode{
    font-size: 1.6rem;
    right: 25%;
    position: absolute;
    top: 400px;
    left: 51%;

}

#imageEpisode{
    width: 600px;
    height: 336px;
    border-radius: 2.5rem;
    color: white;
    background-color: #1D9396;

    text-align: center;
}

.textImage{
    font-size: 30px;
    padding-top: 138px;

}

#retourSerie{
    font-size: 15px;
    color: #115557;
}

#stats{
    margin-top: 5%;
    font-size: 15px;
}

#infoUser{
    font-size: 15px;
}

#serieUser{
    font-weight: bold;
    color:white;
    background-color: #115557;
    border-radius: 2.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}

#comUser{
    color:white;
    background-color: #1D9396;
    border-radius: 2.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
}

/* RESPONSIVE */
@media screen and (max-width:1000px) {
    #main ul {
        grid-template-columns: 1fr 1fr;
    }

    .serie-hover {
        opacity: 1;
        position: inherit;
        background-color: #fff;
        color: #115557;
        border-radius: 0;
    }
}

@media screen and (max-width:800px) {
    #main ul {
        grid-template-columns: 1fr;
    }
}
